<!DOCTYPE html>
<html><head>
<title>The FUN-GINEERS Community</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

{% include 'common.html' %}

<div class="fun-content">

<div class="row">

<div class="com-column"><div class="com-left"><div class="info-border">

<img src="/static/community/images/community.png" style="vertical-align: bottom; margin-bottom: 20px;" width="100%"></br>

<img src="/static/community/images/discord.png" style="vertical-align: bottom" width="100%"></br>
<div class="discord-info"><p class="com-title">The FUN-GINEERS Discord</p>
<ul><li><a style="color: #7289da;" href="https://discord.me/fungineers">Discord Server Link</a></li>
<li><a style="color: #7289da;" href="/discord/">Rules & Information</a></li></ul></div>

<img src="/static/community/images/steam.png" style="vertical-align: bottom" width="100%"></br>
<div class="steam-info"><p class="com-title">The FUN-GINEERS Steam Group</p>
<ul><li><a style="color: #373435;" href="https://steamcommunity.com/groups/fungineer">Steam Group Link</a></li></ul></div>

<img src="/static/community/images/xbox.png" style="vertical-align: bottom" width="100%"></br>
<div class="xbox-info"><p class="com-title">The FUN-GINEERS XBOX Club</p>
<ul><li><a style="color: #2eab11;" href="https://account.xbox.com/en-US/clubs/profile?clubid=3379873320156675">XBOX Club Link</a></li></ul></div>

<img src="/static/community/images/ps4.png" style="vertical-align: bottom" width="100%"></br>
<div class="ps4-info"><p class="com-title">The FUN-GINEERS Playstation Community</p>
<ul><li>Search: "The FUN-GINEERS"</li></ul></div>

</div></div></div>

<div class="com-column"><div class="com-center"><div class="info-border">

<img src="/static/community/images/media.png" style="vertical-align: bottom; margin-bottom: 20px;" width="100%"></br>

<img src="/static/community/images/twitch.png" style="vertical-align: bottom" width="100%"></br>
<div class="twitch-info"><p class="com-title">The FUN-GINEERS Twitch</p>
<ul><li><a style="color: #6441a4;" href="https://www.twitch.tv/fungineers">Twitch Channel</a></li>
<li><a style="color: #6441a4;" href="https://www.twitch.tv/communities/fungineers">Twitch Community Channel</a></li></ul></div>

<img src="/static/community/images/twitter.png" style="vertical-align: bottom" width="100%"></br>
<div class="twitter-info"><p class="com-title">The FUN-GINEERS Twitter</p>
<ul><li><a style="color: #00aced;" href="https://twitter.com/fun_gineers">Twitter Feed</a></li></ul></div>

<img src="/static/community/images/youtube.png" style="vertical-align: bottom" width="100%"></br>
<div class="youtube-info"><p class="com-title">The FUN-GINEERS Youtube</p>
<ul><li><a style="color: #ff0000;" href="https://www.youtube.com/channel/UCcqOXpIVA-HOobWPPNqFIFg">Youtube Channel</a></li></ul></div>

<img src="/static/community/images/soundcloud.png" style="vertical-align: bottom" width="100%"></br>
<div class="soundcloud-info"><p class="com-title">The FUN-GINEERS Soundcloud</p>
<ul><li><a style="color: #ff5510;" href="https://soundcloud.com/funcast">Soundcloud Link</a></li></ul></div>

</div></div></div>

<div class="com-column"><div class="com-right"><div class="info-border">

<img src="/static/community/images/games.png" style="vertical-align: bottom; margin-bottom: 20px;" width="100%"></br>

<img src="/static/community/images/minecraft.png" style="vertical-align: bottom" width="100%"></br>
<div class="minecraft-info"><p class="com-title">The FUN-GINEERS Minecraft Server</p>
<ul style="margin-bottom: 10px;"><li>Address: mc.fungineers.net</li>
<li>Map: <a style="color: #3ab54a;" href="https://mc.fungineers.net/">Link</a></li></ul>
Join our <a style="color: #3ab54a;" href="https://discord.me/fungineers">Discord</a> and contact an admin to be added to the whitelist.</div>

<img src="/static/community/images/mhworld.png" style="vertical-align: bottom" width="100%"></br>
<div class="mhworld-info"><p class="com-title">The FUN-GINEERS Monster Hunter Squad</p>
<ul style="margin-bottom: 10px;"><li>PS4 Squad Name: The FUN-GINEERS</li></ul>
Contact Frothy on PS4 to be invited into the squad.</div>

<img src="/static/community/images/fh3.png" style="vertical-align: bottom" width="100%"></br>
<div class="fh3-info"><p class="com-title">The FUN-GINEERS Forza Horizon 3 Club</p>
<ul><li>Club Name: The FUN-GINEERS</li></ul></div>

</div></div></div>

</div>

</div>

</br>

</body>
</html>
