<div class="fun-nav">
<ul>
<li><a href="/">Home</a></li>
<li class="hide-nav"><a href="/community/">Community</a></li>
<li class="hide-nav"><a href="/discord/">Discord</a></li>
<li class="hide-nav"><a href="/gamejam/">Game Jam</a></li>
<li class="hide-nav"><a href="/funcast/">The FUNCAST</a></li>
<li class="dropdown-nav"><div class="dropdown">
<a href="#">Menu</a>
<div class="dropdown-content">
<a href="/community/">Community</a>
<a href="/discord/">Discord</a>
<a href="/gamejam/">Game Jam</a>
<a href="/funcast/">The FUNCAST</a>
</div>
</div></li>
</ul>
</div>

<div class="fun-logo">
<img class="fun-logo" src="/static/images/fungineers-logo.png" alt="Logo">
</div>
