<!DOCTYPE html>
<html><head>
<title>The FUN-GINEERS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Gloria%20Hallelujah&lang=en" />
</head>
<body>

{% include 'common.html' %}

<div class="fun-content">

<div class="row">
  <div class="column d-left">
  <div class="d-pad-left">
<div class="rss">
<img class="fun-stories" src="/static/images/fun-stories.png" alt="Stories">
<p class="rss">
<script src="//rss.bloople.net/?url=https%3A%2F%2Fplanet.fungineers.net%2Frss20.xml&limit=10&showtitle=false&type=js"></script>
</p>
</div>

 </div>
  </div>

    <div class="column d-right">
  <div class="d-pad-right">
<div class="twitter">
<a class="twitter-timeline" data-tweet-limit="5" href="https://twitter.com/fun_gineers"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
  </div>

</div>

</br>

</body>
</html>
